/* Hide scrollbars while keeping scroll functionality */
#main-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

#main-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
